

body {
  background-color: #fff;
}
/* #ee7e63 */
.covidData {
  background-color: #f9f9f9 ;
  width: 60%;
  margin: auto;
  margin-top:200px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 10px 10px 10px 10px #ee7e63;
}
  
/* input stylings */
  
.covidData__form {
  padding: 10px;
  margin: 20px;
}
.covidData__input input {
  width: 400px;
  height: 40px;
  /* text-align: center; */
  /* font-size: 20px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  border: 0.5px solid grey;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px pink;
}
.covidData__input button {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  background-color: #ee7e63;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 2px pink;
  cursor: pointer;
}
  
/* detail stylings */
  
.covidData__country__info {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-left: 10px;
  background-color: white;
  margin-top: 20px;
  padding: 30px;
  text-shadow: 1px 1px 1px rgb(71, 67, 67);
  box-shadow: 10px 10px 10px 10px #ee7e63;
  border-radius: 20px;
  display: flex;
}

img{
  height: 100px;
  width: 150px;
  margin-right: auto;
  margin-left: 80%;
}